{% extends "base.html" %}

{% block title %}API Documentation{% endblock title %}

{% block content %}
      <div class="hero-unit">
        <h1>API Documentation</h1>
        <p>
            The API is provided to help you make your own applications around the wine you love to drink.
            Currently the documentation is sparse, but please read it thoroughly before contacting us.
            You must first <b>register for an API Key</b> before you may use the API.
        </p>
        <p>
            Make all GET requests to <code>http://www.krater.com/api/&lt;endpoint&gt;</code>
        </p>
        <p><a class="btn btn-primary btn-large" href="{% url api_v1_top_level "v1" %}?format=json">Get started now &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>The Wines</h2>
           <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        </div>
        <div class="span4">
          <h2>The Vineyards</h2>
           <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
       </div>

        <div class="span4">
          <h2>The API</h2>
            <ul id="tab" class="nav nav-tabs">
              <li class="active"><a href="#wine" data-toggle="tab">The Wines</a></li>
              <li><a href="#vineyard" data-toggle="tab">The Vineyards</a></li>
              <li><a href="#variety" data-toggle="tab">The Varieties</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane active" id="wine">
                    <dl>
                        <dt>Endpoint: </dt>
                        <dd><code>http://www.krater.com/api/wines</code></dd>
                        <dt>Description: </dt>
                        <dd>This is a description</dd>
                        <dt>Parameters:</dt>
                        <dd>
                            <ul>
                                <li>one</li>
                            </ul>
                        </dd>
                    </dl>
                    <p><a class="btn" href="{% url api_get_schema "v1" "wine" %}?format=json">View schema &raquo;</a></p>
                </div>
                <div class="tab-pane" id="vineyard">
                    <dl>
                        <dt>Endpoint: </dt>
                        <dd><code>http://www.krater.com/api/vineyard</code></dd>
                        <dt>Description: </dt>
                        <dd>This is a description</dd>
                        <dt>Parameters:</dt>
                        <dd>
                            <ul>
                                <li>one</li>
                            </ul>
                        </dd>
                    </dl>
                    <p><a class="btn" href="{% url api_get_schema "v1" "vineyard" %}?format=json">View schema &raquo;</a></p>
                </div>
                <div class="tab-pane" id="variety">
                    <dl>
                        <dt>Endpoint: </dt>
                        <dd><code>http://www.krater.com/api/variety</code></dd>
                        <dt>Description: </dt>
                        <dd>This is a description</dd>
                        <dt>Parameters:</dt>
                        <dd>
                            <ul>
                                <li>one</li>
                            </ul>
                        </dd>
                    </dl>
                    <p><a class="btn" href="{% url api_get_schema "v1" "variety" %}?format=json">View schema &raquo;</a></p>
                </div>
            </div>
        </div>
      </div>
      <hr>

{% endblock %}

{% block extra_body %}
{% endblock extra_body %}
