coverage==3.5.1
ipython==7.16.3
nose==1.1.2
numpy==1.6.1
#scikits-crab==0.1
#git+git://github.com/muricoca/crab.git
-e git+git://github.com/chrisgilmerproj/crab.git#egg=crab
scikits.learn==0.8.1
scipy==0.10.0
