coverage==3.5.1
ipython==0.12
nose==1.1.2
numpy==1.22.0
#scikits-crab==0.1
#git+git://github.com/muricoca/crab.git
-e git+git://github.com/chrisgilmerproj/crab.git#egg=crab
scikits.learn==0.8.1
scipy==0.10.0
