!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title Krater
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(href='/static/bootstrap/css/bootstrap.css', rel='stylesheet')
    style(type='text/css')
      body {
      padding-top: 60px;
      padding-bottom: 40px;
      }
      .sidebar-nav {
      padding: 9px 0;
      }
    link(href='/static/bootstrap/css/bootstrap-responsive.css', rel='stylesheet')
    script(src='//html5shim.googlecode.com/svn/trunk/html5.js')
    script(src='http://static.ak.fbcdn.net/connect/en_US/core.js')
    link(rel='shortcut icon', href='images/favicon.ico')
    link(rel='apple-touch-icon', href='images/apple-touch-icon.png')
    link(rel='apple-touch-icon', sizes='72x72', href='images/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='114x114', href='images/apple-touch-icon-114x114.png')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse') 
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/') Krater
          .nav-collapse
            ul.nav
              li.active
                a(href='/') Home
              - if (everyauth.loggedIn)
                li
                  a(href='/') #{everyauth.user.name}
            form.navbar-search.pull-right(method="GET", action="/search/")
              input.search-query(type="text", name="q", placeholder="Search")
 
    .span12
      - if (everyauth.loggedIn)
        h2 Authenticated
        p You are authenticated as #{everyauth.user.name}
        a(href='/logout') Logout
      - else
        h2 Authenticate
        - if (!everyauth.facebook)
          #fb-login.fb_button(style='background-position: left -188px')
              a.fb_button.fb_button_medium(href='/auth/facebook')
                span#fb_login_text.fb_button_text Login with Facebook

        - if (!everyauth.twitter)
          #twitter-login
            a(href='/auth/twitter', style='border: 0px')
              img(style='border: 0px', src='https://si0.twimg.com/images/dev/buttons/sign-in-with-twitter-l.png')

    block content

    script(src='/static/jquery/jquery-1.7.1.min.js')
    script(src='/static/bootstrap/js/bootstrap.min.js')
    script(src='/static/bootstrap/js/bootstrap-button.js')
    script(src='/static/js/wine.js')
