extends layout

block content
  .container-fluid
    .row-fluid
      .span12
        div.page-header
          - if (query)
            h2 Search for "#{query}"
          - else
            h2 Search

        form.well.form-search(method="GET", action="/search/")
          - if (query)
            input.input-medium.search-query(type="text", name="q", value="#{query}")
          - else
            input.input-medium.search-query(type="text", name="q", placeholder="Search")
          button.btn.btn-primary(type="submit") Search

        - if (spelling)
          h3 Try these spelling suggestions
          ul
          for sp in spelling
            li
              a(href="/search/?q=#{sp}") #{sp}

        br
        include product_list
